<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<div class="btn btn-dark"><%= link_to "edit article", edit_article_path(@article)  %></div>
<div class="btn btn-dark"><%= link_to "delete article", article_path(@article), method: :delete %></div>
